@model AeroLinea_Futuro.Models.Vuelos

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Vuelos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Escala)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Escala)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tanda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tanda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Vuelos" class="btn btn-success"> Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Regresar</a>
</div>
