@model IEnumerable<AeroLinea_Futuro.Models.Boletos>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de boletos</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reserva)
            </th>
            <th>
                <a class="btn btn-success" asp-action="Create">Registrar Boletos</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reserva)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.BoletosID">Editar</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BoletosID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
